@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
  animation: fadeInAnimation ease .32s;
	animation-iteration-count: 1;
  animation-fill-mode: forwards;
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	color: rgb(214, 214, 214);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgotPassword {
  color: rgb(221, 221, 221);
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  font-weight: normal;
  margin-top: -3px;
  margin-bottom: 5px;
  margin-left: -14px;
}
.logo {
    max-height: 90px;
    max-width: 90px;
    border-radius: 100vh;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.75)
}
h1 {
    font-weight: 500;
    display: block;
    font-size: 2em;
}

