@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	min-height: 100vh;
	display: flex;
	color: rgb(214, 214, 214);
	flex-direction: column;
}

.page {
  animation: fadeInAnimation ease .32s;
	animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page .section {
  width: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #362d40;
}

.avatarSection {
  align-items: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 26px;
}

.blacklistedTitle {
  text-decoration: rgb(255, 0, 0) solid line-through;
  color: rgb(104, 104, 104);
}

.statistic {
  margin-top: -14px;
}

.statCon {
  margin-top: 13px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.statChild {
  width: 565px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 150px;
  height: 35px;
}

@media only screen and (max-width: 576px) {
  .statChild {
    margin-right: 0px;
    width: 300px;
  }
}

@media only screen and (max-width: 456px) {
  .page .section {
    align-items: center;
    text-align: center;
    width: 85%;
  }

  .statChild {
    width: 200px;
  }
}