@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.container {
	min-height: 100vh;
	display: flex;
	color: rgb(214, 214, 214);
	flex-direction: column;
}

.settings {
  background-color: rgb(68, 52, 83);
  display: flex;
  flex-direction: column;
}

.fade {
  animation: fadeInAnimation ease .32s;
	animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.section {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 10px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  background: #362d40;
}

.title {
  font-size: 26px;
  margin-top: 14px;
}

.caption {
  font-size: 14px;
  margin-top: -15px;
}

.btn {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: -3px;
  margin-bottom: 20px;
}

.domainInput {
  width: 30%;
  margin-bottom: 20px;
}

.domainDropdown {
  width: 200px;
}

.switchCon {
  margin-top: -5px;
  display: flex;
  flex-direction: row;
}

.switch {
  display: flex;
}

.switchChild {
  margin-left: 10px;
  width: 55px;
}

.switchCap {
  margin-bottom: 6px;
}

.previewCon {
  display: flex;
}

.embedInputCon {
  margin-bottom: 10px;
  display: flex;
}

.embedInputCon div {
  margin-right: 8px;
}

.embedCheckboxCon {
  margin-top: -7px;
  margin-bottom: 18px;
}

.embedCap {
  margin-top: 10px;
}

.embedInput {
  width: 100%;
}

.embedColorInput {
  width: 200px;
  background-color: #2c2c2c;
  border-color: #111111;
}

.embedColorInput:disabled {
  background-color: #585858;
}

.embedSettings {
  min-width: 400px;
  margin-right: 30px;
}
.fakeUrlSettings {
  min-width: 400px;
  margin-right: 30px;
}

.embedPreview {
  width: 50%;
  background-color: #2f3136;
  border-radius: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.embedAuthor {
  color: white;
  word-wrap: break-word;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 600;
}

.embedTitle {
  word-wrap: break-word;
  padding-right: 30px;
  margin-top: 2px;
  margin-left: 20px;
  color: #0374d1;
  font-weight: 700;
  font-size: 16.3px;
  text-shadow: 1px 0px #2f3136;
  cursor: pointer;
}

.embedDescription {
  word-wrap: break-word;
  padding-right: 30px;
  margin-top: 5px;
  margin-left: 20px;
  color: rgb(219, 213, 213);
}

.embedImage {
  margin-left: 10px;
  margin-top: 13px;
  width: 227.3px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1639px) {
  .domainInput {
    width: 40%;
  }
}

@media only screen and (max-width: 1267px) {
  .domainInput {
    width: 50%;
  }
}

@media only screen and (max-width: 1065px) {
  .domainInput {
    width: 80%;
  }
}

@media only screen and (max-width: 870px) {
  .previewCon {
    flex-direction: column;
  }

  .embedPreview {
    margin-top: 20px;
    width: 96%;
  }

  .embedImage {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 735px) {
  .domainInput {
    width: 100%;
  }
}

@media only screen and (max-width: 611px) {
  .sidebar {
    display: none;
  }
  
  .switchCon {
    flex-direction: column;
  }
}

@media only screen and (max-width: 553px) {
  .domainDropdown {
    width: 100px;
  }
}

@media only screen and (max-width: 456px) {
  .section {
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .switchCon {
    align-items: center;
  }

  .embedInput {
    width: 70%;
  }

  .embedSettings {
    margin: 0;
  }
}